.center {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 50px;
    max-width: 100%;
    overflow: visible;
}

.element {
    margin: 40px;
}

ion-title {
    text-align: center;
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
    --color: #ddd;
    --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.radio-checked.ios::part(container) {
    border-color: #6815ec;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 70vh; 
}

#divis {
    background-color: black;
    padding: 10px;
}

input {
    text-align: center;
    height: 50px;
    width: 50%;
}

#opencolorpicker {
    margin: 10px; 
}
